<footer class="site-footer">
	<div class="container footer-inner">
		<p>Copyright © 2025 Katedra Inżynierii Odnawialnych Źródeł Energii</p>
		<p>Zachodniopomorski Uniwersytet Technologiczny w Szczecinie</p>
		<a class="to-top" href="#top">Do góry</a>
	</div>
</footer>


